<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<!--beforeDestroy destroyed vm.$destroyed()-->

<div id="app">
  <button @click="a=false">移除</button>
  <input type="radio" value="man" v-model="val">
  <input type="radio" value="woman" v-model="val">
  <!--template slot component keep-alive保持缓存-->
    <component :is="val"></component>
</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
  // created加了keep-alive 就只执行一次
  // activated 加了keep-alive会多次执行，不加keep-alive则不执行
  let man = { // 请求四个接口 其中三个我需要缓存 还有不缓存
      created(){alert(300)},
      /*deactivated(){ // 当keep-alive移除时调用的方法
        alert(100)
      },*/
      // 存放不需要缓存的结果
      activated(){ //不会受keep-alive干扰 如果有keep-alive依然会执行
        alert(101);
      },
      template:'<div>男人</div>',
      beforeDestroy(){
        alert(3)
      }
  };
  let woman = {template:'<div>女人</div>'};
  let vm = new Vue({
      el:'#app',
      data:{ val:'',a:true},
      components:{
          man,
          woman
      }
  })
</script>
</body>
</html>