<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>todo</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <style>
    .del {
      text-decoration: line-through;
      color: #999
    }
  </style>
</head>
<body>
<div id="app">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          ToDoList
        </a>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-info">
            <div class="panel-heading">
              <p class="text-warning">亲！你还有{{count}}件事需要完成</p>
              <input type="text" class="form-control" v-model="todo.title" @keyup.13="add" placeholder="请输入代办事项">
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item" v-for="todo in newTodos">
                  <!--点击谁 就把当前这个记住, 用当前这个和每一项比，如果相等则表示点击的是当前的这一项，让输入框显示出来即可-->
                  <div @dblclick="saveCurrent(todo)" v-show="cur!=todo">
                    <input type="checkbox" v-model="todo.select">
                    <span :class="{del:todo.select}">{{todo.title}}</span>
                    <button @click="remove(todo)" class="btn btn-danger btn-xs pull-right">&times;</button>
                  </div>
                  <input type="text"
                         v-model="newObj.title"
                         v-auto-focus="cur==todo"
                         @blur="cancel"
                         v-show="cur==todo"
                         @keyup.esc="cancel"
                         @keyup.enter="saveUpdate(todo)"
                  >
                </li>
              </ul>
            </div>
            <div class="panel-footer">
              <ul class="nav nav-pills">
                <li :class="{active:hash=='all'}"><a href="#all">全部</a></li>
                <li :class="{active:hash=='unfinish'}"><a href="#unfinish">未完成</a></li>
                <li :class="{active:hash=='finish'}"><a href="#finish">已完成</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="node_modules/vue/dist/vue.js"></script>
<!--vue-resource基于promise axios他也是基于promise
    vue-resource 支持jsonp axios 不知持jsonp
    axios 可以在服务端使用，axios并没有挂在vue的实例上
-->
<script src="node_modules/axios/dist/axios.js"></script>
<script src="todo.js"></script>
</body>
</html>